name: Deploy on Main Push

on:
  push:
    branches:
      - main
env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_DEFAULT_REGION: 'eu-north-1'

jobs:
  
  
  Build_and_Push_Docker_Image_to_DockerHub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          cd Landing-Page-React
          docker build -t olumayor99/doyenify-devops .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          docker push olumayor99/doyenify-devops

  Deploy_Website:
    needs: [Build_and_Push_Docker_Image_to_DockerHub]
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.8

    - name: Inititialize Terraform Code
      run: terraform -chdir=Terraform init -upgrade

    - name: Format Terraform Code
      run: terraform -chdir=Terraform fmt

    - name: Deploy Terraform
      run: terraform -chdir=Terraform apply -auto-approve